@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-bg-base: #eeeeee;
  --color-text-main: #1f6f5f;
  --color-primary: #2fa084;
  --color-accent: #6fcf97;
}

body {
  background: var(--background);
  color: var(--foreground);
}