fastapi
uvicorn
sqlalchemy
alembic
tenacity
openai
redis
celery
pymupdf
pytesseract
pillow
litellm
PyPDF2
python-dotenv
pyyaml
passlib
PyJWT
pycryptodome
python-multipart
cryptography
underthesea
symspellpy
